.neon-text {
  color: #ffffff;
  font-weight: bold;
  text-shadow:
     0 0 4px #a6e4ff,
  0 0 8px #7fd9ff,
  0 0 16px #37b5ff,
  0 0 24px #2098e6,
  0 0 32px #1579c9,
  0 0 48px rgba(20, 120, 200, 0.8),
  0 0 64px rgba(10, 80, 160, 0.6);
}
@keyframes titleFadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-title-fade {
  animation: titleFadeIn 5s ease forwards; 
}

.speed-text {
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: -1px;

  background: linear-gradient(to right,
  #37b5ff 0%, 
  #aabee1 40%, 
  #e1a9d0 70%,
  #db7dc0 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}


