.neon-text {
  color: #ffffff;
  font-weight: bold;
  text-shadow:
    0 0 8px #fef2d8,
    0 0 16px #fcdca1,
    0 0 24px #e8b960,
    0 0 32px #c79432,
    0 0 48px rgba(255, 200, 100, 0.5),
    0 0 64px rgba(255, 160, 60, 0.3);
}
.speed-text {
  font-weight: 800;
  font-size: 3rem;
  letter-spacing: -1px;

  background: linear-gradient(to right, #f8cdbb 60%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

